bin/
obj/
*.user
*.suo
*.pdb
*.zip
*.log
FileDentify.ini
FileDentify-startup-error.txt
CommunitySearch.md
GITHUB-RELEASE-RULES.md
Filedentify.exe
FileDentify.exe
FileDentify-libmagic-*/
update-*/
token.txt
